# dependencies
vendor/
composer.lock
package-json.lock

# ide/editor
.idea/
.vscode/

# examples
examples/GAgent/_*.json
examples/GAgent/_*/
examples/GBusiness/_*.json
examples/GBusiness/_*/

# os
.DS_Store
