# dependencies
vendor/
composer.lock
package-json.lock

# ide/editor
.idea/
.vscode/

# examples
examples/GAgent/_authentication.json
examples/GBusiness/_authentication.json

examples/GBusiness/_mqtt
examples/GBusiness/_mqtt_authentication.json

# os
.DS_Store
